@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    font-size: 13px;
    font-weight: lighter;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

h1{
    font-weight: bold;
    font-size: 22px;
}

h2 {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}


ul li {
    list-style-type: none;
}


/* Topo Fixado */
header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1000
}

/* Primeiro topo, acima do menu de categorias */
#topo {
    width: 100%;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#topo-left, #topo-center, #topo-right {
    padding: 10px;
}

/* Lado esquerdo do topo */
#topo-left p {
    padding-bottom: 5px;
}

/* Bloco de pesquisa */
#topo-left-pesquisar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 50px;  
}

#topo-left input {
    padding: 0 20px;
    height: 100%;
    width: 250px;
    border: 1px solid rgb(204, 202, 202);
}

#bloco-img-pesquisa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border: 1px solid rgb(204, 202, 202);
    border-left: none;
    cursor: pointer;
}

#topo-left-img {
    width: 25px;
    height: 25px;
}

/* Centro do topo */
#topo-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-topo {
    font-size: 2.4em;
    font-weight: bold;
    color: rgb(255, 115, 0);
}

#nomeloja-topo {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 115, 0);
    font-style: italic;
}

/* Lado direito do topo */
#menu-topo ul {
    display: flex;
    flex-direction: row;
}

#menu-topo ul li {
    padding: 0 15px 5px 0;
}

#carrinho-topo {
    display: flex;
    flex-direction: row;
}

#carrinho-topo p {
    padding: 0 15px 0 0;
}


/* Menu Categorias / Menu Principal */
#menu-categorias ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

#menu-categorias a {
    color: #000;
    padding: 10px 20px;
    text-decoration: none;   
    display: block;
}

#menu-categorias a:hover {
    color: #000;
    background-color: rgb(219, 219, 219);
}


/* Subitens do Menu */
#menu-categorias li ul {
    display: none;
    background-color: #fff;
    position: absolute;
    padding: 0 20px;
    width: 250px;
}

#menu-categorias li:hover .subitens {
    display: block;
    background-color: #fff;
}

#menu-categorias li ul a {
    padding: 3px 0;
    border-bottom: 1px solid silver;
}

#menu-categorias li ul a:hover {
    background-color: #fff;
    text-decoration: underline;
}


/* Menu Responsivo */
#menucat-responsivo {
    position: absolute;
    opacity: 0;
}


/* Botão "Hamburguer" */
label {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 8px;
}

label span:nth-child(3){
    top: 16px;
}

/* #menucat-responsivo:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#menucat-responsivo:checked + label span:nth-child(2) {
    opacity: 0;
}

#menucat-responsivo:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
} */

/* Vitrine da Loja */
#conteudo {
    width: 100%;
    margin: auto;
    /* padding: 168px 0 0 0; */
}

/* Banner Principal */
.banner-principal {
    height: auto;
    width: 100%;
}

#banner-principal-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Banner Secundário */
.banner-triplo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px;
}

.banner-triplo-img {
   width: 33%;
   height: auto;
}

/* Módulo de Produtos */

.modulo-produtos {
    padding: 20px 20px 0 20px;
}

.modulo-produtos h1 {
    font-size: 22px;
    padding: 10px 0;
    border-bottom: 4px solid rgba(255, 41, 41, 0.671);
}

.container-produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px 10px 0; 
}

.link-produto-item {
    width: 100%;
    padding: 10px;
    display: flex;
}

.link-produto-item:hover {
    text-decoration: none;
}

.produto-item { 
    position: relative; /* Relative para sobrepor a tag do produto*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid white; /* Borda da cor do background para não ter mudança no layout no hover */
    padding: 10px;
}

.produto-item:hover {
    border: 1px solid rgb(204, 202, 202);
}

.imagem-produto {   
    max-width: 70%;
    height: 300px;
    object-fit: contain;
}

/* Tag do produto */
.produto-item .tag-produto {
    position: absolute;
    background-color: rgba(255, 41, 41, 0.671);
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 0 7px 7px 0;
    color: white;
    font-size: 0.9em;
}

.textos-produto {
    padding-top: 10px;
}

.nome-produto {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
}

.preco-produto {
    font-size: 16px;
    font-weight: bold;
}

.parcelado-produto {
    padding-bottom: 10px;
}

/* Módulo de Vídeos */
.modulo-video{    
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.video {
    width: 70%;
    height: 80vh;
    object-fit: contain;
}

/* Banner Duplo Hozitontal */
.banner-duplo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
}

.banner-duplo-img {
    width: 50%;
    height: auto;
    padding: 0 10px;
}

/* Rodapé */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#footer-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 25px 0;
    margin-top: 20px;
    border-top: 1px solid rgb(204, 202, 202);   
}

#bloco1-footer, #bloco2-footer, #bloco3-footer, #bloco4-footer {
    min-width: 25%;
    padding: 0 50px 20px;
}

#pgto {
    width: 180px;
    height: auto;
}

#ssl {
    width: 180px;
    height: auto;
}

#footer-bottom {
    border-top: 1px solid rgb(204, 202, 202);   
    padding: 20px;
    text-align: center;
}

/* Responsivo 860px */
@media (max-width:860px) {
    /* Topo Fixado Responsivo*/
    header {
        position: static;
    }

    /* Conteúdo/Main Responsivo */
    #conteudo {
        padding: 0;
        width: 100%;
    }

    /* Alinhamento do Topo Responsivo*/
    #topo {
        flex-direction: column;
        text-align: center;   
    }

    #carrinho-topo {
        justify-content: center;
    }

    #menu-categorias {
        
    }

    #menu-categorias ul {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        z-index: 1000;
        background-color: white;
        width: 250px;
        right: -100%;
        top: 40px;
        height: 100vh;
    }

    label {
        display: block;
    }

    #menucat-responsivo:checked ~ ul{
        left: 0;       
    }

    #menu-categorias li ul {
        display: none;
        background-color: #fff;
        position: relative;
        left: 0;
        padding: 0 20px;
        width: 250px;
        height: auto;
        top:0;
    }

    /* Menu Categorias Responsivo
    #menu-categorias ul {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        width: 100%;    
    }

    #menu-categorias ul li {
        padding: 10px;        
    }

    #menu-categorias ul a {
        padding: 10px;
    }

    #menu-categorias ul a:hover {
        padding: 10px;
    } */

    /* Menu Categorias Responsivo */


    #banner-principal-img {
        width: 100%;
        height: 388px;
        object-fit: cover;
    }

    /* Produtos Responsivo*/
    .container-produtos {
        flex-wrap: wrap;
    }
    
    .modulo-produtos h1 {
        text-align: center;
    }

    .link-produto-item {
        width: 50%;
    }

    .imagem-produto {   
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    /* Banner Secundário Responsivo */    
    .banner-triplo {
        gap: 1%;
        width: 99%;
        padding: 0;
    }

    .banner-triplo-img {
        width: 50%;
     }

     .banner-triplo-img:nth-child(3) {
        display: none;
     }

     /* Vídeo Responsivo */
     .video {
        width: 100%;
        height: 200px;
        }

    .banner-duplo {
        flex-direction: column;
        padding: 0;
        gap: 20px;
    }

    .banner-duplo-img {
        width: 100%;
        padding: 0px 20px;
    }

    /* Footer Responsivo */
    #footer-top {
        flex-direction: column;
        text-align: center;
    }
}